html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}
a{
  color: #ddd;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  color: whitesmoke;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.all-container {
  margin: 0;
  padding: 0 30px;
}

.title {
  font-size: 3.5rem;
  text-align: center;
  color: #ddd;
  margin: 0;
}

.icons{
  display: flex;
}

.LogoutProfile{
  display: block;
  position: relative;
  
  }

  li{
    list-style-type: none;
  }
  .logout{
    /* display: none; */
    display: none;
   
  }

  .LogoutProfile:hover .logout{
    display: block;
    position: absolute;
    left: 2.2em;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: black;
    height: 3.5em;
    padding: 0.5em 0.7em;
    cursor: pointer;
  }

form{
  display: flex;
  width: 24em;
  height: 4em;
  margin-left: auto;
  margin-top: 1em;
}

.loginLink{
  width: 14%;
  font-size: 1.7rem;
  margin-top: auto;
  cursor:pointer;
  margin-left: 2em;
}

h2{
  margin: 0;
}
.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.2rem;
  height: 100%;
  padding: 0.5em 1em;
  line-height: 2rem;
  border-radius: 10px 0;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  outline: none;
}

.button {
  background-color:#ddd ;
  color: black;
  padding: 3px;
  display: block;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

.all-card {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
 
}

.all-card--title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #ddd;
}

.all-card--image {
  display: block;
  cursor: pointer;
}

.all-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
  
}

.card {
  padding: 1rem 0;
  width: 90%;
}

.card--title {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
}


.hero{
  min-height: 400px;
  margin: 0;
  background-size: cover;
}

.selected{
  padding:6em 2em;
}
.selected-title,.selected-overview{
 padding: 1rem;
 
}
.selected-title{
  font-size: 4rem;
  font-weight: bolder;
}
.selected-overview{
  font-size: 1.8rem;
}

.videoPlayer{
  width: 90%;
  display: block;
  margin: 0px auto;
  float: none;
}
.youtube{
min-height: 100%;
min-width: 100%;
  object-fit: fill;
}



/* login page */

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  min-height: 100%;
}

.login-div{
  /* sm:mx-auto sm:w-full sm:max-w-sm */
  margin-bottom: auto;
}

.login-heading{
  margin-top: 2em;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
}
.login-body{
  margin-top: 1.5em;

}

.login-element{
  padding-bottom: 3em;
  margin: 2em 8em;
}
.email-label, .password-label{
  display: block;
  font-size: 1.5rem;
  margin-top: 2em;
}
.input-div{
  margin-top: 1em;
}

.input-email, .input-password{
  display: block;
  width: 25em;
  border-radius: 5px;
  padding:0.8em 1.5em;
  outline: none;
  font-size: 1.5rem;
}
.Login-button{
  width: 100%;
  margin-top: 2em;
  font-size: 2rem;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.3em;
  background-color: #ddd;
}

.register-text{
  text-align: center;
  font-size: 1.3rem;
}

@media (min-width:786px){
  .form {
      align-items: center;
  }
  


}