html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  color: whitesmoke;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.all-container {
  margin: 0;
  padding: 0 30px;
}

.title {
  font-size: 3.5rem;
  text-align: center;
  color: #ddd;
  margin: 0;
}

.icons{
  display: flex;
}

form{
  display: flex;
  width: 24em;
  height: 4em;
  margin-left: auto;
  margin-top: 1em;
}

.login{
  width: 15%;
  font-size: 1.7rem;
  margin-top: auto;
  cursor:pointer;
  letter-spacing: 1px;
}
.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.2rem;
  height: 100%;
  padding: 0.5em 1em;
  line-height: 2rem;
  border-radius: 10px 0;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  outline: none;
}

button {
  background-color:#ddd ;
  color: black;
  padding: 3px;
  display: block;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

.all-card {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
 
}

.all-card--title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #ddd;
}

.all-card--image {
  display: block;
  cursor: pointer;
}

.all-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
  
}

.card {
  padding: 1rem 0;
  width: 90%;
}

.card--title {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
}


.hero{
  min-height: 400px;
  margin: 0;
  background-size: cover;
}

.selected{
  padding:6em 2em;
}
.selected-title,.selected-overview{
 padding: 1rem;
 
}
.selected-title{
  font-size: 4rem;
  font-weight: bolder;
}
.selected-overview{
  font-size: 1.8rem;
}

.videoPlayer{
  width: 90%;
  display: block;
  margin: 0px auto;
  float: none;
}
.youtube{
min-height: 100%;
min-width: 100%;
  object-fit: fill;
}

@media (min-width:786px){
  .form {
      align-items: center;
  }
  


}